* {
    font-size: 26px;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg, #6894ee, rebeccapurple);
}

.todoInput {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.todo-input {
    margin-right: 10px;
    width: 40%;
}

.fa-plus-circle {
    color: white;
    cursor: pointer;
}
.todo{
    margin-top: 40px;
    margin-left: 28%;
}
.todolist div {
    display: flex;
    flex-direction: row;
    transition: all 1s ease;
    width: 50%;
    margin: 10px;
}

li {
    flex: 1;
    color: white;

}

button {
    cursor: pointer;
    transition: 0.5s all ease;
}

.checkButton {
    color: white;
    background-color: lawngreen;
}

.trashButton {
    background-color: red;
}

button:hover {
    opacity: 0.8;
}

.todolist i {
    pointer-events: none;
}
@keyframes  slideout{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.drop{
    animation: slideout 1s ease;
}
.completed {
    animation: slideout 1s ease;
}
select{
    margin-left: 10px;
    font-size: 10px;
}
select option{
    font-size: 10px;
}
.fineshed{
    margin-left: 10px;
    text-decoration: line-through;
    opacity : 0.8;
}

.fineshed li{
    width: 30%;
    justify-content: center;
    margin-left: 28%;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px){
    *{
        font-size: 30px;
    }
    .todoInput{
        justify-content: left;
        height: 10vh;
    }
    .todo-input{
        width: 80%;
    }
    .todolist{
        position: relative;
        margin-left: -30%;
    }
    .fineshed{
        margin-left: -30%;

    }

}
